@media (min-width: 380px) {
	.code {
		height: 265px;
	}

	.flexBlock {
		height: 265px;
	}
}

@media (max-width: 381px) {
	.code {
		height: 294px;
	}

	.flexBlock {
		height: 294px;
	}
}

.baseline div:nth-of-type(1) {
	font-size: 14px;
}
.baseline div:nth-of-type(2) {
	font-size: 22px;
}
.baseline div:nth-of-type(3) {
	font-size: 30px;
}
.baseline div:nth-of-type(4) {
	font-size: 38px;
}
.baseline div:nth-of-type(5) {
	font-size: 46px;
}

#fourthFlexContainer div:nth-of-type(1) {
	font-size: 14px;
}
#fourthFlexContainer div:nth-of-type(2) {
	font-size: 22px;
}
#fourthFlexContainer div:nth-of-type(3) {
	font-size: 30px;
}
#fourthFlexContainer div:nth-of-type(4) {
	font-size: 38px;	
}
#fourthFlexContainer div:nth-of-type(5) {
	font-size: 46px;
}