.code {
	max-width: 465px;
	width: 100%;
	margin: 0 auto 30px auto;
}

.code p:nth-of-type(3) {
	color: #fff;
}

.links {
	height: 120px;
}

.links a {
	width: 50%;
	height: 100%;
	background-size: auto 85px;
}

@media (min-width: 1680px) {
	.next {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}

	.back {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}
