@media (min-width: 381px) {
	.gameInput {
		width: 135px;
	}
}

@media (max-width: 380px) {
	.gameInput {
		width: 90%;
	}
}

.test p:nth-of-type(1) {
	font-size: 24px;
	margin: 0 0 10px 0;
}

.game {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	margin: 30px;	
}

.input {
	padding: 20px;
	width: calc(100% - 380px);
	border-left: 4px solid #22f;
	min-height: 200px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.gameInput {
	font-size: 18px;
	border: 1px solid #33f;
    background-color: #aaf;
    padding-left: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.input p:not(:last-of-type):not(:first-of-type) {
	margin-left: 30px;
}

.flexDirectionRow {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.flexDirectionRowReverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.flexDirectionColumn {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.flexDirectionColumnReverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
}

.flexWrapNowrap {
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.flexWrapWrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.flexWrapWrapReverse {
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
}


.flexFlowColumnWrapReverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap-reverse;
	        flex-flow: column wrap-reverse;
}
.flexFlowColumnWrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
}
.flexFlowColumnNowrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}

.flexFlowRowWrapReverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap-reverse;
	        flex-flow: row wrap-reverse;
}
.flexFlowRowWrap {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.flexFlowRowNowrap {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}

.flexFlowRowReverseNowrap {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: row-reverse nowrap;
	        flex-flow: row-reverse nowrap;
}
.flexFlowRowReverseWrap {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: row-reverse wrap;
	        flex-flow: row-reverse wrap;
}
.flexFlowRowReverseWrapReverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: row-reverse wrap-reverse;
	        flex-flow: row-reverse wrap-reverse;
}

.flexFlowColumnReverseWrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: column-reverse wrap;
	        flex-flow: column-reverse wrap;
}
.flexFlowColumnReverseWrapReverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: column-reverse wrap-reverse;
	        flex-flow: column-reverse wrap-reverse;
}
.flexFlowColumnReverseNowrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-flow: column-reverse nowrap;
	        flex-flow: column-reverse nowrap;
}

.flexJustifyContentFlexStart {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.flexJustifyContentFlexEnd {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.flexJustifyContentCenter {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flexJustifyContentSpaceBetween {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.flexJustifyContentSpaceAround {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.flexJustifyContentSpaceEvenly {
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}

.flexAlignItemsStretch {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}
.flexAlignItemsFlexStart {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.flexAlignItemsFlexEnd {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.flexAlignItemsCenter {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.flexAlignItemsBaseline {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

.flexAlignItemsStretch .flexElement {
	height: auto;
}

.flexAlignContentFlexStart {
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}
.flexAlignContentFlexEnd {
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}
.flexAlignContentCenter {
	-ms-flex-line-pack: center;
	    align-content: center;
}
.flexAlignContentSpaceAround {
	-ms-flex-line-pack: distribute;
	    align-content: space-around;
}
.flexAlignContentSpaceBetween {
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}
.flexAlignContentStretch {
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
}
.flexAlignContentSpaceEvenly {
	-ms-flex-line-pack: space-evenly;
	    align-content: space-evenly;
}

.flexAlignContentStretch .flexElement {
	height: auto;
}

.flexFlexGrow0 {
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
}
.flexFlexGrow1 {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.flexFlexGrow2 {
	-webkit-box-flex: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
}
.flexFlexGrow3 {
	-webkit-box-flex: 3;
	    -ms-flex-positive: 3;
	        flex-grow: 3;
}
.flexFlexGrow4 {
	-webkit-box-flex: 4;
	    -ms-flex-positive: 4;
	        flex-grow: 4;
}
.flexFlexGrow5 {
	-webkit-box-flex: 5;
	    -ms-flex-positive: 5;
	        flex-grow: 5;
}


.flexFlexShrink0 {
 	-ms-flex-negative: 0;
 	    flex-shrink: 0;
}
.flexFlexShrink1 {
	-ms-flex-negative: 1;
	    flex-shrink: 1;
}
.flexFlexShrink2 {
	-ms-flex-negative: 2;
	    flex-shrink: 2;
}
.flexFlexShrink3 {
	-ms-flex-negative: 3;
	    flex-shrink: 3;
}
.flexFlexShrink4 {
	-ms-flex-negative: 4;
	    flex-shrink: 4;
}
.flexFlexShrink5 {
	-ms-flex-negative: 5;
	    flex-shrink: 5;
}

.flexOrder_5 {
	-webkit-box-ordinal-group: -4;
	    -ms-flex-order: -5;
	        order: -5;
}
.flexOrder_4 {
	-webkit-box-ordinal-group: -3;
	    -ms-flex-order: -4;
	        order: -4;
}
.flexOrder_3 {
	-webkit-box-ordinal-group: -2;
	    -ms-flex-order: -3;
	        order: -3;
}
.flexOrder_2 {
	-webkit-box-ordinal-group: -1;
	    -ms-flex-order: -2;
	        order: -2;
}
.flexOrder_1 {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
}
.flexOrder0 {
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
}
.flexOrder1 {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}
.flexOrder2 {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}
.flexOrder3 {
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;
}
.flexOrder4 {
	-webkit-box-ordinal-group: 5;
	    -ms-flex-order: 4;
	        order: 4;
}
.flexOrder5 {
	-webkit-box-ordinal-group: 6;
	    -ms-flex-order: 5;
	        order: 5;
}

.flexFlexBasisAuto {
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
}
.flexFlexBasisContent {
	-ms-flex-preferred-size: content;
	    flex-basis: content;
}
.flexFlexBasis0 {
	-ms-flex-preferred-size: 0;
	    flex-basis: 0;
}
.flexFlexBasis1 {
	-ms-flex-preferred-size: 20%;
	    flex-basis: 20%;
}
.flexFlexBasis2 {
	-ms-flex-preferred-size: 40%;
	    flex-basis: 40%;
}
.flexFlexBasis3 {
	-ms-flex-preferred-size: 60%;
	    flex-basis: 60%;
}
.flexFlexBasis4 {
	-ms-flex-preferred-size: 80%;
	    flex-basis: 80%;
}
.flexFlexBasis5 {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
}




.flexAlignSelfStretch {
	-ms-flex-item-align: stretch;
	    -ms-grid-row-align: stretch;
	    align-self: stretch;
	height: auto;
}
.flexAlignSelfFlexStart {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
.flexAlignSelfFlexEnd {
	-ms-flex-item-align: end;
	    align-self: flex-end;
}
.flexAlignSelfCenter {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.flexAlignSelfBaseline {
	-ms-flex-item-align: baseline;
	    align-self: baseline;
}








.trueAnswer {
	background-color: green;
}
.falseAnswer {
	background-color: red;
}











input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #55f;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #66f;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #55f;
  border-radius: 1.3px;
  border-bottom: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #55f;;
  border-bottom: 0.1px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 0.5px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #55f;
  border-bottom: 0.1px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 0.5px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #66f;
}
input[type=range]:focus::-ms-fill-upper {
  background: #66f;
}