
.flexElement {
	justify-content: center;
	align-items: center;
}

.flexBlock {
	justify-content: center;
	align-items: center;
}

.gameInput {
	padding: 0;
	background-color: transparent;
	border: none;
}
