
.flexElement {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flexBlock {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
}

.gameInput {
	padding: 0;
	background-color: transparent;
	border: none;
}

@supports not (flex-basis: content) {
	.basisContentSupport {
		display: none;
	}
}