
@media (min-width: 821px) {
	.flexBlock {
		height: 665px;
	}
}

@media (max-width: 820px) {
	.flexBlock {
		height: 250px;
	}
}

.flexElement {
	justify-content: center;
	align-items: center;
}

.code {
	height: 665px;
}

.flexBlock {
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.gameInput {
	padding: 0;
	background-color: transparent;
	border: none;
}

@supports not (flex-basis: content) {
	.basisContentSupport {
		display: none;
	}
}
