.flexBlock {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

h3 {
	margin-bottom: 40px;
}

@media (min-width: 381px) {
	.gameInput {
		width: 137px;
	}
}

@media (max-width: 380px) {
	.code {
		padding-right: 0;
	}

	.code p:not(:last-of-type):not(:first-of-type) {
		margin-left: 13px;
	}
}