.basicsImg {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.terms {
	margin: 20px 0 20px 10px;
	list-style-type: none;
}

.terms li:not(:last-of-type) {
	margin-bottom: 20px;
}

.terms span {
	font-size: 22px;
}

.terms li::before {
	content: "";
    display: inline-block;
    background-image: url(../img/listItem2.png);
    background-size: cover;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    position: relative;
    top: 4px;
    left: -10px;
}

@media (max-width: 1679px) {
	.links a {
		width: 100%;
		border-radius: 10px;
		-webkit-transition-duration: 0.5s;
	     -o-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	}
}

.imgFull {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.98);
	z-index: 1;
	-webkit-animation: imgFullOpen 0.4s;
	        animation: imgFullOpen 0.4s;
}

.imgButton {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 5%;
	height: 5%;
	border: none;
	background-image: url(../img/imgClose.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

.imgButton:hover {
	opacity: 0.5;
}

.cloneImg {
	cursor: auto;
	width: 100%;
}

.imgFullClose {
	-webkit-animation: imgFullClose 0.4s;
	        animation: imgFullClose 0.4s;
}

@-webkit-keyframes imgFullOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes imgFullOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes imgFullClose {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes imgFullClose {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}