.default {
	margin: 0 auto 30px auto;
	padding: 0 0 20px 0;
}

ul {
	list-style-type: none;
	margin: 0 auto 20px auto;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	padding-top: 30px;
}

.default a {
	font-size: 22px;
	color: #22c;
	display: block;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-decoration: none;
	outline: none;
	height: 50px;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	margin-bottom: 10px;
}

.default a:hover {
	color: #fff;
	background-color: #77f;
}

ul li {
	margin: 0;
	height: 100%;
	width: 100%;
}

ul li h2 {
	margin: 0 0 0 30px;
	height: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

ul a::before {
	content: "";
    display: inline-block;
    background-image: url(../img/listItem.png);
    background-size: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    left: 23px;
}
