@import url('https://fonts.googleapis.com/css?family=Comfortaa|Margarine|Noto+Sans+TC|Play');

/*
	font-family: 'Noto Sans TC', sans-serif;
	font-family: 'Comfortaa', cursive;
	font-family: 'Margarine', cursive;
	font-family: 'Play', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
}

@media (min-width: 1680px) {
	.links {
		height: 30px;
	}

	.links a {
		width: calc((100% - 1230px)/2);
		height: 200px;
		background-size: auto 100px;
	}

	.fixed {
		position: fixed;
		-webkit-transition-property: background-position, background-color, background-image;
		-o-transition-property: background-position, background-color, background-image;
		transition-property: background-position, background-color, background-image;
	}

	.back {
		left: 0;
		top: calc(50% - 100px);
	}

	.next {
		right: 0;
		top: calc(50% - 100px);
	}

	.absoluteTop {
		position: absolute;
		top: calc(100vh * 1.5 - 100px);
		-webkit-transition-property: background-position, background-color, background-image;
		-o-transition-property: background-position, background-color, background-image;
		transition-property: background-position, background-color, background-image;
	}

}

@media (min-width: 840px) {
	.textLink {
		font-size: 22px;
	}
}

@media (min-width: 821px) {
	.flex {
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
	}	
}

@media (min-width: 481px) {
	p {
		font-size: 20px;
	}

	.default {
		padding: 20px 30px;
	}

	h2 {
		font-size: 26px;
	}
}

@media (min-width: 381px) {
	.default {
		border-left: 4px solid #54c;
    	border-right: 4px solid #54c;
	}

	.code {
		width: 360px;
	}

	.flexBlock {
		width: 360px;
	}

	nav {
		padding: 0 30px;
	}
}

@media (max-width: 1679px) {
	.links {
		height: 120px;
	}

	.links a {
		width: 50%;
		height: 100%;
		background-size: auto 85px;
	}

	.next {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}

	.back {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}

@media (max-width: 839px) {
	.textLink {
		font-size: 18px;
	}
}

@media (max-width: 820px) {
	.flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.flexBlock {
		height: 250px;
	}
}

@media (max-width: 690px) {
	.textLink {
		font-size: 16px;
	}

	.links a {
		background-size: auto 60px;
	}
}

@media (max-width: 640px) {
	.logo span {
		display: none;
	}
}

@media (max-width: 480px) {
	p {
		font-size: 18px;
	}

	.default {
		padding: 20px 10px;
	}

	h2 {
		font-size: 22px;
	}
}

@media (max-width: 380px) {
	.default {
		border: none;
	}

	.code {
		width: 320px;
	}

	.flexBlock {
		width: 320px;
	}

	nav {
		padding: 0 10px;
	}
}

body {
	margin: 0;
	overflow-x: hidden;
}

p {
	font-family: 'Play', sans-serif;
	line-height: 32px;
}

span {
	font-family: 'Play', sans-serif;
}

h1 {
	font-family: 'Comfortaa', sans-serif;
	margin: 10px 0 20px 0;
}

h2 {
	font-family: 'Noto Sans TC', sans-serif;
	margin: 10px 0 15px 0;
}

header {
	width: 100%;
	height: 68px;
	background-color: #77f;
	color: #fff;
	border-bottom: 2px solid #00f;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}

.logo span {
	margin-left: 10px;
	font-family: 'Margarine', cursive;
	font-size: 30px;
}

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

nav a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	outline: none;
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 26px;
	color: #fff;
	width: 200px;
	height: 100%;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

header:hover {
	background-color: #fff;
	color: #44f;
}

header:hover a {
	color: #44f;
}

nav a:hover {
	color: #59f;
}

.slogan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 500px;
	background-image: url(../img/slide.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	text-align: center;
}

.slogan p:first-of-type {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 30px;
	font-family: 'Comfortaa', sans-serif;
}	

.slogan p:last-of-type {
	max-width: 470px;
	font-size: 24px;
}

main {
	width: 100%;
	margin: 0 auto;
}


.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 900px;
	margin: 40px auto;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.flexBlock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #88f;
	border: 4px dashed #fff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 30px;
}

.flexElement {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 40px;
	height: 40px;
	background-color: #11f;
	border: 3px solid #55f;
	margin: 5px;
}

.elementCode span {
	font-weight: 600;
	color: #fff;
}

.flexElement span {
	font-size: 22px;
}

.flexElementTrue {
	background-color: green;
}

.flexElementFalse {
	background-color: #f00;
}

.code {
	padding: 15px;
	background-color: #88f;
	border-left: 3px solid #00f;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 30px;
}

.code p {
	font-family: 'Noto Sans TC', sans-serif;
	margin: 8px 0;
}

.code p:not(:last-of-type):not(:first-of-type) {
	margin-left: 25px;
}

.default {
	max-width: 1230px;
	width: 100%;
	margin: 30px auto 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    background-color: #ccf;
    border-radius: 10px;
}

.links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 1230px;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.links a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	text-decoration: none;
	outline: none;
}

.next {
	background-image: url(../img/arrowNext.png);
	text-align: left;
}

.next:hover {
	background-image: url(../img/arrowNextHover.png);
	background-color: #99f;
	background-position: right;
}

.back {
	background-image: url(../img/arrowBack.png);
	text-align: right;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.back:hover {
	background-image: url(../img/arrowBackHover.png);
	background-color: #99f;
	background-position: left;
}

.textLink {
	opacity: 0;
	width: 50%;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	font-family: 'Noto Sans TC', sans-serif;
	color: #fff;
}

.next:hover .textLink {
	opacity: 1;
	-webkit-transform: translateX(30%);
	    -ms-transform: translateX(30%);
	        transform: translateX(30%);
}

.back:hover .textLink {
	opacity: 1;
	-webkit-transform: translateX(-30%);
	    -ms-transform: translateX(-30%);
	        transform: translateX(-30%);
}

.static {
	position: static;
}

.button {
	width: 35px;
	height: 35px;
	padding: 20px;
	border: 1px solid #55f;
	border-radius: 9px;
	cursor: pointer;
	outline: none;
	z-index: 1;
	position: fixed;
	right: 20px;
	bottom: -45px;
	background-color: #55f;
	background-image: url(../img/scrollUp.png);
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.7;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

.button:hover {
	opacity: 1;
}

.up {
	bottom: 20px;
}

.down {
	background-image: url(../img/scrollDown.png);
	bottom: 20px;
}

.foot {
	bottom: 75px;
}

footer {
	height: 60px;
	width: 100%;
	background-color: #66c;
	border-top: 2px solid #00f;
	-webkit-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.footerFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 1230px;
	width: 100%;
	height: 100%;
	padding: 0 30px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.footerFlex span {
	color: #fff;
}

.footerFlex a {
	font-size: inherit;
	text-decoration: underline;
	color: inherit;
}

.footerFlex a:hover {
	text-decoration: none;
}
